{% extends 'base/base.html' %}
{% block content %}
<h4 class="center"> {{ title }}</h4>
{% from "_macro.html" import render_field %}
<form method="POST" id="formriesgos">
    <div class="container">
        <div class="row">
            <div class="col">
                variable
            </div>
            <div class="col">
                valor
            </div>
            <div class="col">
                nivel de expocision
            </div>
            <div class="col">
                nivel de consecuencia
            </div>
        </div>

        {% for var in variables %}
        <div class="row">
            <div class="col-sm" style="margin-top: 15px">
                <label>{{ var.name}}-{{ var.mag}}</label>
            </div>
            <div class="col-sm">
                <input name="{{var.name}}" id="{{var.name}}" value="" type="text">
            </div>
            <div class="col-sm">
                <select name="nv_exp_{{var.name}}" class="selectpicker form-control">
                    {% for o in nvexpo %}
                    <option value="{{ o.value }}">{{ o.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <select name="nv_cons_{{var.name}}" class="selectpicker form-control">
                    {% for o in nvcons %}
                    <option value="{{ o.value }}">{{ o.value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <span>Biologicos</span>
            </div>
            <div class="col">
                <input name="biologicos" id="biologicos" value="">
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Biologicos</span>
            </div>
            <div class="col">
                <input name="biologicos" id="biologicos" value="">
            </div>
            <div class="col">
    
            </div>
            <div class="col">
    
            </div>
        </div>
        <button type="submit" style="width: 300px" class="btn btn-primary button center">enviar</button>
    </div>
</form>
<div class="result">
    {% if showresul %}
    <h4 class="center">Resultado</h4>
    {% for r in result %}
    <div>
        <span>{{r.name}}</span>
        <div style="display:inline-block" class="s {{r.val}}">{{r.val}}</div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}