{% extends 'base/base.html' %}
{% block content %}
<h4 class="center"> {{ title }}</h4>
{% from "_macro.html" import render_field %}
<form method="POST" id="formriesgos">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>variable</h4>
            </div>
            <div class="col">
                <h4>valor</h4>
            </div>
            <div class="col">
                <h4>nivel de expocision</h4>
            </div>
            <div class="col">
                <h4>nivel de consecuencia</h4>
            </div>
        </div>

        {% for var in variables %}
        <div class="row">
            <div class="col-sm" style="margin-top: 15px">
                <label>{{ var.name}}-{{ var.mag}}</label>
            </div>
            <div class="col-sm form-group">
                <input name="{{var.name}}" id="{{var.name}}"  class="form-control"  value="" type="text">
            </div>
            <div class="col-sm">
                <select name="nv_exp_{{var.name}}" class="selectpicker form-control">
                    {% for o in nvexpo %}
                    <option value="{{ o.value }}">{{ o.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <select name="nv_cons_{{var.name}}" class="selectpicker form-control">
                    {% for o in nvcons %}
                    <option value="{{ o.value }}">{{ o.value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm" style="margin-top: 15px">
                <h3>Filtros</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="margin-top: 15px">
                <span>Posturas ergonomicas</span>
            </div>
            <div class="col">
                <select name="Posturas" id="Posturas"  class="selectpicker form-control">
                    <option value="5">buena</option>
                    <option value="3">regular</option>
                    <option value="1">mala</option>
                </select>
            </div>
            <div class="col">
                <select name="nv_exp_postura" class="selectpicker form-control">
                    {% for o in nvexpo %}
                    <option value="{{ o.value }}">{{ o.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="nv_cons_postura" class="selectpicker form-control">
                    {% for o in nvcons %}
                    <option value="{{ o.value }}">{{ o.value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm" style="margin-top: 15px">
                <span>Biologicos-ufc/m3</span>
            </div>
            <div class="col form-group">
                <input name="biologicos" id="biologicos" class="form-control" value="">
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
        <button type="submit" style="width: 300px" class="btn btn-primary button center">enviar</button>
    </div>
</form>
<div class="result">
    {% if showresul %}
    <h4 class="center">Resultado</h4>
    {% for r in result %}
    <div>
        <span>{{r.name}}</span>
        <div style="display:inline-block" class="s {{r.val}}">{{r.val}}</div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}